# Any e All

## All -> Retorna True se todos os elementos do iterável são verdadeiros ou ainda se o iterável está vazio.

## any() -> Retorna True se qualquer elelemto do iterável for verdadeiro. Se o iterável estiver vazio, retorna False

Exemplo all()

In [1]:
print(all([0, 1, 2, 3, 4]))

False

In [5]:
print(all([1, 2, 3, 4])) 
print(all((1, 2, 3, 4))) 
print(all({1, 2, 3, 4})) 
print(all('oi')) 
print(all([]))

True
True
True
True
True

In [6]:
nomes = ['Calos', 'Camila', 'Carla', 'Cassiano', 'Cristina']

In [9]:
print(all([nome[0] == 'C' for nome in nomes]))

True

In [12]:
print(all([letra for letra in 'aio' if letra in 'aeiou']))

# OBS: Um iterável vazio convertido em boolean é False, mas o all() entende como true

True

In [15]:
print(all([num for num in [4, 2, 10, 6, 8] if num % 2 == 0])) # and

True

In [17]:
print(any([0, 1, 2, 3, 4]))

True

In [21]:
print(any([0, False, {}, (), []])) # or

False

In [23]:
print(any([num for num in [4, 2, 10, 6, 8] if num % 2 == 0]))

True

In [24]:
print(any([num for num in [4, 2, 10, 6, 8] if num % 2 == 1]))

False