# Conjuntos

## Conjuntos em qualquer linguagem de programação estamos fazendo referência à Teoria dos Conjuntos
## - No phyton os conjuntos são chamados de Sets.
## - Sets (conjuntos) não possuem valores duplicados
## - Sets (conjuntos) não possuem valores ordenados
## Elementos não são acessados via índice, ou seja, conjuntos não são indexados

## Conjuntos são bons para se utilizar quando precisamos armazenar elementos mas não nos importamos com a ordenação deles. Quando não precisamos nos preocupar com chaves, valores e itens duplicados

## Os conjutos (sets) são referenciado em Python com chaves {}

## Difereça entre Conjuntos (Set)  e Mapas (Dicionario) em Python:
##      - Um dicionário tem chave/valor;
##      - Um conjunto tem apenas valor;

## Definindo um conjunto:

Forma 1:

In [13]:
s = set({1, 2, 3 ,4, 5, 5, 6, 7, 2, 3})

In [14]:
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
print(type(s))

<class 'set'>

### OBS: Ao criar um conjunto, caso seja adicionado um valor já existente, o mesmo será ignoradosem gerar erro e não fará parte do conjunto.

Forma 2: (mais comum)

In [16]:
s = {1, 2, 3, 4, 5, 5}

In [17]:
print(s)

{1, 2, 3, 4, 5}

In [18]:
print(type(s))

<class 'set'>

### Podemos verificar se determinado elemento está contido no conjunto

In [19]:
if 3 in s:
    print("Tem o 3")
else:
    print("Não tem o 3")

Tem o 3

In [20]:
dados = [99, 2, 34, 23, 2, 12, 1, 44, 5, 34]
print(f'Dados: {dados} com {len(dados)} elementos')

Dados: [99, 2, 34, 23, 2, 12, 1, 44, 5, 34] com 10 elementos

In [21]:
lista = list(dados)
print(f'Lista: {lista} com {len(lista)} elementos')

Lista: [99, 2, 34, 23, 2, 12, 1, 44, 5, 34] com 10 elementos

In [22]:
tupla = tuple(dados)
print(f'Tupla: {tupla} com {len(tupla)} elementos')

Tupla: (99, 2, 34, 23, 2, 12, 1, 44, 5, 34) com 10 elementos

In [23]:
dicionario = {}.fromkeys(dados, 'dict')
print(f'Dicionario: {dicionario} com {len(dicionario)} elementos')

Dicionario: {99: 'dict', 2: 'dict', 34: 'dict', 23: 'dict', 12: 'dict', 1: 'dict', 44: 'dict', 5: 'dict'} com 8 elementos

In [24]:
conjunto = set(dados)
print(f'Conjunto: {conjunto} com {len(conjunto)} elementos')

Conjunto: {1, 2, 99, 34, 5, 12, 44, 23} com 8 elementos

### Assim como todo outro conjunto python podemos colocar tipos de dados misturados em Sets

In [25]:
s = {1, 'b', True, 34.22, 44}

In [26]:
print(s)
print(type(s))

{1, 34.22, 44, 'b'}
<class 'set'>

### Podemos iterar em um set normalmete

In [27]:
for valor in s:
    print(valor)

1
34.22
44
b

## Usos interessantes com sets

### Imagine que fizemos um formulário de cadastro de visitantes em uma feira ou museu e os visitantes informam manualmente a cidade de onde vieram.

### Nós informamos cada cidade uma lista Python, já que em uma lista podemos adicionar novos elementos e ter repetição

In [30]:
cidades = ['Belo Horizonte', 'São Paulo', 'Campo Grande', 'Cuiaba', 'Campo Grande', 'São Paulo', 'Cuiaba']

In [31]:
print(cidades)
print(len(cidades))

['Belo Horizonte', 'São Paulo', 'Campo Grande', 'Cuiaba', 'Campo Grande', 'São Paulo', 'Cuiaba']
7

### Agora precisamos saber quantas cidades distintas temos.

In [33]:
print(len(set(cidades)))

4

## Adicionando elementos em um conjunto

In [35]:
s = {1, 2, 3}

In [36]:
s.add(4)

In [37]:
print(s)

{1, 2, 3, 4}

## Remover elementos em um conjunto

### Forma 1:

In [40]:
s.remove(3) # Não é índice, informamos o valor a ser removido

In [41]:
print(s)

{1, 2, 4}

### OBS: Caso o valor não seja encontrado será gerado o erro KeyError. Nenhum valor é retornado

### Forma 2:

In [44]:
s.discard(2)

In [46]:
print(s)

{1, 4}

### OBS: Se o valor não for encontrado, nenhum erro é gerado

## Copiando um conjunto para outro

In [49]:
s = {1, 2, 3}

In [50]:
print(s)

{1, 2, 3}

### Forma 1 = Deep Copy

In [52]:
novo = s.copy()
print(novo)

{1, 2, 3}

In [54]:
novo.add(4)
print(novo)

{1, 2, 3, 4}

In [55]:
print(s)

{1, 2, 3}

### Forma 2: - Shallow Copy

In [57]:
novo = s

In [58]:
novo.add(4)

In [59]:
print(novo)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

### Podemos remover todos os itens de um conjunto

In [61]:
s.clear()

In [62]:
print(s)

set()

## Métodos Matemáticos de Conjuntos

### Imagine que temos dois conjuntos: Um contendoo estudadess do curso Python e um contendo estudades do curos de java.

In [65]:
estudantes_python = {'Marcos', 'Patrícia', 'Ellen', 'Pedro', 'Julia', 'Guilherme'}
estudantes_java = {'Fernando', 'Gustavo', 'Julia', 'Ana', 'Patrícia'}

### OBS: VEja que alguns alumos que estuam Python também estudam Java.

### Precisamos gerar um conjunto com nomes de estudantes únicos

### Forma 1 - Utilizando union:

In [69]:
unicos1 = estudantes_python.union(estudantes_java)
print(unicos1)

{'Ellen', 'Julia', 'Marcos', 'Ana', 'Patrícia', 'Fernando', 'Guilherme', 'Gustavo', 'Pedro'}

### Forma 2: Utilizando o caractere pipe |

In [71]:
unicos2 = estudantes_python | estudantes_java
print(unicos2)

{'Ellen', 'Julia', 'Marcos', 'Ana', 'Patrícia', 'Fernando', 'Guilherme', 'Gustavo', 'Pedro'}

## Gerar um conjunto de estudantes que estão em ambos os cursos

### Forma 1: Utilizando intersection

In [74]:
ambos1 = estudantes_python.intersection(estudantes_java)
print(ambos1)

{'Julia', 'Patrícia'}

### Forma 2 - Utlizando o &

In [77]:
ambos2 = estudantes_python & estudantes_java
print(ambos2)

{'Julia', 'Patrícia'}

## Gerar um conjunto de estudantes que nap estão no outro

In [79]:
so_python = estudantes_python.difference(estudantes_java)
print(so_python)

{'Guilherme', 'Ellen', 'Marcos', 'Pedro'}

In [80]:
so_java = estudantes_java.difference(estudantes_python)
print(so_java)

{'Gustavo', 'Ana', 'Fernando'}

In [81]:
## Soma*, Valor Máximo*, Valor Mínimo*, tamanho
### * Se os valores forem todos interios ou reais

In [82]:
s = {1, 2, 3, 4, 5, 6}

In [84]:
print(sum(s))
print(max(s))
print(min(s))
print(len(s))

21
6
1
6