# List Comprehension

### - Utilizando List Comprehension nós podemos gerar novas listas com dados processados a partir de outro iterável
### - Sintaxe da List Comprehension
### [dado for dado in interável ]

## Exemplo

In [2]:
numeros = [1, 2, 3, 4, 5]

res = [numero * 10 for numero in numeros]

print(res)

[10, 20, 30, 40, 50]

### Para entender melhor o que está acontecendo devemos dividir a expressâo em duas partes:
### - A primeira parte: for numero in numeros
### - A segunda parte: numero * 10

In [3]:
res = [numero / 2 for numero in numeros]
print(res)

[0.5, 1.0, 1.5, 2.0, 2.5]

In [4]:
def funcao(valor):
    return valor * valor

In [5]:
res = [funcao(numero) for numero in numeros]
print(res)

[1, 4, 9, 16, 25]

## List Comprehension versos Loop

### LOOP:

In [7]:
numeros = [1, 2, 3, 4, 5]

numeros_dobrados = []
for numero in numeros:
    numero_dobrados = numero * 2
    numeros_dobrados.append(numero_dobrados)

print(numeros_dobrados)

[2, 4, 6, 8, 10]

### LIST COMPREHENSION

In [8]:
numero_dobrados = [numero * 2 for numero in numeros]
print(numero_dobrados)

[2, 4, 6, 8, 10]

## Outros exemplos

In [9]:
nome = 'Antonio Joao'

print([letra.upper() for letra in nome])

['A', 'N', 'T', 'O', 'N', 'I', 'O', ' ', 'J', 'O', 'A', 'O']

In [12]:
amigos = ['maria', 'julia', 'pedro', 'guliherme', 'vanessa']

print([amigo.title() for amigo in amigos])

['Maria', 'Julia', 'Pedro', 'Guliherme', 'Vanessa']

In [13]:
print([numero * 3 for numero in range(1, 10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [14]:
print([bool(valor) for valor in [0, [], '', True, 1, 3.14]])

[False, False, False, True, True, True]

In [15]:
print([str(numero) for numero in [1, 2, 3, 4, 5]])

['1', '2', '3', '4', '5']