# Tuplas (tuple)

## Tuplas são bastante parecida com listas.
## Existem basicamente duas difenças básicas:
### 1 - As tuplas são representadas por parênteses ()
### 2 - As tuplas são imutáveis: Isso significa que ao se criar uma tupla ela não muda. Toda operação em uma tupla gera uma nova tupla.

### Cuidado 1: As tuplas são representadas por (), mas veja:

In [7]:
tupla1 = (1, 2, 3, 4, 5, 6)

In [8]:
print(tupla1)
print(type(tupla1))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [9]:
tupla2 = 1, 2, 3, 4, 5, 6

In [10]:
print(tupla2)
print(type(tupla2))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

### Cuidado 2 : Tuplas com 1 elemento:

In [11]:
tupla3 = (4) # Isso não é uma tupla!

In [12]:
print(tupla3)
print(type(tupla3))

4
<class 'int'>

In [13]:
tupla4 = (4,) # Isso é uma tupla

In [14]:
print(tupla4)
print(type(tupla4))

(4,)
<class 'tuple'>

In [16]:
tupla5 = 4,

In [17]:
print(tupla5)
print(type(tupla5))

(4,)
<class 'tuple'>

### CONCLUSÂO: Podemos concluir que tuplas são definidas pela vírgula e não pelo uso do parênteses

### Podemos gerar uma tupla dinamicamente com range(inicio, fim , passo):

In [18]:
tupla = tuple(range(11))

In [19]:
print(tupla)
print(type(tupla))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [20]:
### Desempacotamento te tupla

In [21]:
tupla = ('Universidade Católica', 'Algoritmo de programação')

In [22]:
faculdade, curso = tupla

In [23]:
print(faculdade)
print(curso)

Universidade Católica
Algoritmo de programação

### Métodos para adição e remoção de elementos nas tuplas não existem, dado o fato das tuplas serem imutáveis

### Soma*, Valor Máximo*, Valor Mínimo* e tamanho
### * Se os valores forem todos inteiros ou reais

In [24]:
tupla = (1, 2, 3, 4, 5, 6)

In [26]:
print(sum(tupla))
print(max(tupla))
print(min(tupla))
print(len(tupla))

21
6
1
6

### Concatenação de tuplas

In [28]:
tupla1 = (1, 2, 3)

In [29]:
tupla2 = (4, 5, 6)

In [30]:
print(tupla1 + tupla2)

(1, 2, 3, 4, 5, 6)

In [31]:
tupla3 = tupla1 + tupla2

In [32]:
print(tupla3)

(1, 2, 3, 4, 5, 6)

In [35]:
tupla1 = tupla1 + tupla2 # Tuplas são imutáveis, mas podemos sobreescrever seus valores

In [36]:
print(tupla1)

(1, 2, 3, 4, 5, 6, 4, 5, 6)

### Vereficar se determinado elemento está na tupla

In [37]:
tupla = (1, 2, 3)

In [38]:
print(3 in tupla)

True

### Iterando sobre uma tupla

In [39]:
for n in tupla:
    print(n)

1
2
3

In [40]:
for indice, valor in enumerate(tupla):
    print(indice, valor)

0 1
1 2
2 3

### Contando elementos dentro de uma tupla

In [42]:
tupla = ('a', 'b', 'c', 'd', 'e', 'a', 'b')

In [43]:
print(tupla.count('a'))

2

In [44]:
faculdade = tuple('Universidade católica')

In [45]:
print(faculdade)

('U', 'n', 'i', 'v', 'e', 'r', 's', 'i', 'd', 'a', 'd', 'e', ' ', 'c', 'a', 't', 'ó', 'l', 'i', 'c', 'a')

In [46]:
print(faculdade.count('a'))

3

### Dicas na utilização de tuplas

### Devemos utilizar tuplas sempre que não precisarmos modificar dados contidos em uma coleção

### Exemplo 1

In [49]:
meses = ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

In [50]:
print(meses)

('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

### O acesso a elementos de uma tupla também é semelhante a lista

In [52]:
print(meses[5])

Junho

### Iterar com while

In [54]:
i = 0
while i < len(meses):
    print(meses[i])
    i += 1

Janeiro
Fevereiro
Março
Abril
Maio
Junho
Julho
Agosto
Setembro
Outubro
Novembro
Dezembro

### Verificamos em qual indice um elemento está na tupla

In [56]:
print(meses.index('Junho'))

5

### OBS: Casol não exista vai gerar ValueError.

### Slicing

### tupla[inicio: fim: passo]

In [61]:
print(meses[2:])

('Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

## Por quê utilizar tuplas:

### - Tuplas são mais rápidas do que lista.
### - Tuplas deixam seu código mais seguro.

In [63]:
## Copiando uma tupla para outra

In [64]:
tupla = (1, 2, 3)

In [65]:
print(tupla)

(1, 2, 3)

In [66]:
nova = tupla # Na lista não temos o problema de shalow copy

In [67]:
print(nova)
print(tupla)

(1, 2, 3)
(1, 2, 3)

In [68]:
outra = (4, 5, 6)

In [69]:
nova = nova + outra

In [70]:
print(nova)
print(tupla)

(1, 2, 3, 4, 5, 6)
(1, 2, 3)