<a href="https://colab.research.google.com/github/ajsp2020/alura/blob/main/Exercicios_estatistica_com_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

In [5]:
frequencia = dados['Profissão'].value_counts()
frequencia

2    5
3    4
1    3
Name: Profissão, dtype: int64

In [7]:
percentual = dados['Profissão'].value_counts(normalize = True)*100
percentual

2    41.666667
3    33.333333
1    25.000000
Name: Profissão, dtype: float64

In [10]:
dist_freq_qualitativas = pd.DataFrame({'Frequência': frequencia, 'Porcentagem(%)': percentual})
dist_freq_qualitativas

   Frequência  Porcentagem(%)
2           5       41.666667
3           4       33.333333
1           3       25.000000

In [12]:
dist_freq_qualitativas.rename(index={1:'Estático', 2: 'Cientista de Dados', 3: 'Programador Python'}, inplace=True)
dist_freq_qualitativas

                    Frequência  Porcentagem(%)
Cientista de Dados           5       41.666667
Programador Python           4       33.333333
Estático                     3       25.000000

In [14]:
dist_freq_qualitativas.rename_axis('Profissão', axis='columns',inplace=True)
dist_freq_qualitativas

Profissão           Frequência  Porcentagem(%)
Cientista de Dados           5       41.666667
Programador Python           4       33.333333
Estático                     3       25.000000